@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --Red:          #ff7a7a;
  --Green:        #38cc8c;

  --Blue:         #6055a5;

  --Dark-Blue:    #3e3c49;
  --Grayish-Blue: #b9b6d3;
}

/* Reset */
* {
  padding:    0;
  margin:     0;
  box-sizing: border-box;
}

body {
  display:         flex;
  align-items:     center;
  justify-content: center;
  height:          100vh;
  padding-inline:  10%;
  gap:             5%;
  font-size:       16px;
  font-family:     'Poppins', sans-serif;
  background-image: url(images/bg-intro-desktop.png);
  background-color: var(--Red);
}

.left_container {
  width:    50vw;
  color: #ffffff;
}

.left_container h1 {
  padding-bottom: 15px;
}

.right_container {
  width:          50vw;
  display:        flex;
  flex-direction: column;
  gap:            20px;
}

.purple {
  display:          flex;
  justify-content:  center;
  align-items:      center;
  padding-block:    15px;
  background-color: var(--Blue);
  color:            #ffffff;
  text-align:       center;
  border-radius:    10px;
  box-shadow:       0 5px rgba(0, 0, 0, 0.315);
}

.purple p {
  font-weight: 300;
}

form {
  padding:          25px 30px; 
  display:          flex;
  flex-direction:   column;
  gap:              20px;
  background-color: #ffffff;
  border-radius:    10px;
}

section {
  display:        flex;
  flex-direction: column;
  position:       relative;
}

input {
  height:        40px;
  font-family:  'Poppins', sans-serif;
  font-weight:   bold;
  padding-left:  15px;
  border-radius: 5px;
  border:        1px solid rgba(0, 0, 0, 0.486);
}

input.error {
  border:  2px solid var(--Red);
  outline: 0;
  color:   var(--Red);
}

ion-icon {
  color:     var(--Red);
  font-size: 22px;
  position:  absolute;
  right:     15px;
  top:       10px;
  display:   none;
}

label {
  color:      var(--Red);
  font-style: italic;
  text-align: right;
  font-size:  .7rem;
  display:    none;
}

button {
  height:           40px;
  font-family:      'Poppins', sans-serif;
  text-transform:   uppercase;
  color:          #ffffff;
  background-color: var(--Green);
  border-radius:    5px;
  border:           none;
  cursor:           pointer;
  box-shadow:       0 4px 0 #2ca06e;
  transition:       all .25s ease;
}

button:hover {
  background-color: #38cc8ca6;
  box-shadow:         0 4px 0 #2ca06ea9;
}

.terms {
  text-align:   center;
  color:        var(--Grayish-Blue);
  font-size:   .70rem;
  padding-top: 7px;
}

.red {
  font-weight: bold;
  color:       var(--Red);
  cursor:      pointer;
  transition:  all .25s ease;
}

.red:hover {
  color: #ff7a7ab4;
}

@media screen and (max-width: 768px) {
  body {
    flex-direction:  column;
    height:          900px;
    padding-inline:  5%;
    font-family:     'Poppins', sans-serif;
    background-image: url(images/bg-intro-mobile.png);
  }

  .left_container, 
  .right_container {
    width: 100%;
  }

  .left_container {
    text-align: center;
  }
}